RewriteEngine On
RewriteBase /
RewriteRule ^login NOcms/layout/login.php
RewriteRule ^logout layout/logout.php
RewriteRule admin layout/admin.php
RewriteRule ^admin/post admin.php?mode=post
RewriteRule ^post-([0-9]+)$ index.php?blog=view&view=$1
RewriteRule ^([a-z0-9]+)$ index.php?id=$1
RewriteRule ^page-([a-z0-9]+)$ index.php?blog=page&page=$1
