a:link, a:visited, a:active {
    color: #888888;
    font-size: 12px;
    text-decoration: underline;
}
a:hover {
    color: #902727;
    text-decoration: none;
}

div.project a { text-decoration: none; }

img {
    border: none;
    text-align: center;
}

pre {
    position: relative;
    top: -10px;
}

#body > code {
    display: none;
}

body {
/*    width: 95%;*/
    background-color: #171717;
    color: #717171;
    font-family: Courier New, Monospace, Terminus, sans-serif;
    font-size: 11px;
/*    margin: 20px;*/
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container {
    background-color: #171717;
/*    border: solid 1px #1f1f1f;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 50px;*/
/*    width: 780px;*/
/*    padding: 6px;*/
/*    padding-left: 3px;*/
/*    padding-right: 3px;*/
/*    text-align: justify;*/
/*    float: button;*/
}

#head {
    background-color: #171717;
/*    width: 760px;*/
    height: 17px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6px;
    padding: 5px;
    text-align: left;
    border: solid 1px #1f1f1f;
}

#head a {
    color: #888888;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    cursor: crosshair;
}

#head a:hover {
    color: #902727;
}

#head div.menu {
    background-color: #171717;
    position: relative;
    border: 3px solid #1f1f1f;
    float: left;
    margin-right: 5px;
    text-align: left;
}

#head div.menu > div.menu {
    position: absolute;
    left: 10px;
    display: none;
    opacity: 0.9;
    z-index: 42;
}

#head div.menu:hover > div.menu {
    display: block;
}

#head a.menu_element {
    padding: 0;
}

#head a.menu_element div {
    width: 100%;
}



#body {
    background-color: #171717;
/*    width: 760px;*/
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border: solid 1px #1f1f1f;
    padding: 5px;
    overflow: auto;
}

#credits {
    background-color: #171717;
    width: 760px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    text-align: right;
    border: solid 1px #1f1f1f;
/*    height: 15px;*/
    font-size: 10px;
}

.hidden {
    display: none;
}


