body
{
    background-color:#000000;
    color:#FFFFFF;
    font-family:Terminus,TTFminus,Fixedsys,Fixed,Terminal,Courier New,Courier;
    font-size:12px;
    margin:30px;
}

div.main
{
    background-color:#000000;
    border:1px solid #444444;
    margin:10px auto 0;
    padding:4px;
    text-align:left;
    width:97%;
}

div.menu
{
    background-color:#000000;
    font-size:12px;
    margin:5px auto 0;
    padding:5px;
    text-align:center;
    width:51%;
}

div.footer
{
    background-color:#000000;
    margin:40px auto 0;
    padding:5px;
    text-align:right;
    width:97%;

}

td.pages
{
    background-color:#000000;
    margin:2px;
    padding:2px;
    border:1px solid #c1c1c1;
}

td.menu1
{
    background-color:#000000;
    padding:2px;
    border:1px solid #444444;
}

div.article
{
    background-color:#000000;
    margin:2px;
    padding:2px;
    border-bottom:1px dotted #444444;
}

a:link
{
    color:#666666;
    text-decoration:none;
}

a:visited
{
    color:#666666;
    text-decoration:none;
}

a:hover
{
    color:#ffffff;
    text-decoration:none;
}

input, textarea, select
{
    background:none repeat scroll 0 0 #000000;
    border:1px solid #666666;
    color:#FFFFFF;
    font-family:Terminus,TTFminus,Fixedsys,Fixed,Terminal,Courier New,Courier;
    font-size:9pt;
}
